<main class="contenedor">
    <form action="/crear-cuenta" method="post" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="text" name="email" placeholder=" Tu E-mail">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu Contraseña">
        </div>
         <div class="campo">
            <label>Repetir contraseña</label>
            <input type="password" name="confirmar-password" placeholder="Repetir contraseña">
        </div>
         <div class="campo acciones">
            <a href="/iniciar-sesion">Inicia sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear cuenta" class="btn btn-azul">
        </div>
    </form>
</main>