<main class="contenedor">
    <form action="/iniciar-sesion" method="post" class="default-form">
        <div class="campo">
            <label> E-mail</label>
            <input type="text" name="email" placeholder="Registre su email">
        </div>
        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Registre su contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea tu cuenta</a>
             <a href="/reestablecer-password">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>
    </form>
</main>