<main class="contenedor">
    <form action="/reestablecer-password" method="post" class="default-form">
        <div class="campo">
            <label> E-mail</label>
            <input type="text" name="email" placeholder="Registre su email">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesión</a>
        </div>
         <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        </div>
    </form>
</main>